

@import "bootstrap";
@import "font-awesome";


.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

body {
  background: image_url('debut_light.png');
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

.navbar {
  background: image_url('footer_lodyas.png');
  box-shadow: 0px 3px 10px grey;
  margin: 0px;

}

.navbar-inverse .navbar-brand {
  color: #54ff98;
  font-family: 'ralewayregular';
  font-size:26px;

}

/* Styles the error messages in the simple form gem */
.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

  #map {
    height: 300px;
  }

  .clear {
    clear: both;
}

/* Styles for blockquotes */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.button-float-right { 
  float: right;
  margin-bottom: 2px;
  margin-top: 2px;
}


.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
/* The height can be up to 550px */
  max-height: 600px;
  width: 100%;
}

/* Styles the text within carousel */
.carousel-caption {
  font-family: 'ralewayregular';
  color: #abb2ab;
  font-size: 60px;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  position: absolute;
  left: 0;
}

/* Adds a shadow to carousel */
.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}